
.title {
	width: 800px;
	height: 400px;
}

.gameScreen {
	background-color: teal;
	width: 800px;
	height: 400px;
}

.start-button {
	position: absolute;
	background-color: white;
	color: teal;
	font-size: 50px;
	font-family: Arial;
	bottom: 150px;
	left: 325px;
}

.confirm-button {
	position: absolute;
	background-color: white;
	color: teal;
	font-size: 50px;
	font-family: Arial;
	bottom: 50px;
	right: 50px;
}